[Unit]
Description=OpenFlux Exit Node
After=openflux-netns.service network-online.target
Requires=openflux-netns.service

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=30s
EnvironmentFile=/etc/openflux.env
WorkingDirectory=/opt/openflux
ExecStart=/usr/sbin/ip netns exec openflux /opt/openflux/universal-bypass-tool -exit-node -transport ${OPENFLUX_TRANSPORT} -url "${OPENFLUX_URL}" -debug
Restart=always
RestartSec=5s
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
